<header>
    <nav class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <a class="navbar-brand" href="#">{{ site.title }}</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
              <a href="https://github.com/ibooij/big-ring/releases/download/release-1.0.2/big-ring-windows-1.0.2.zip" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-download"></span> Download version 1.0.2 for Windows</a>
            </ul>
        </div><!--/.nav-collapse -->

      </div>
      <div class="row">
      <div class="imageAndText">
          <img src="assets/images/dolomites_1.jpg" class="align-center img-responsive">
      </div>

      </div>

    </nav>
</header>
